/* Background Style */

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Damion', cursive, serif;
    font-size: 20px;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 70px;
}

/*  Light Theme  */
/* Specifically for full page background */
.t--light {
    background-color: hsl(0, 0%,    99.99%);
    color: hsl(0, 0%, 5%);
}
/* Specifically for background of elements */
.t-light .t-item {
    background-color: hsl(0, 0%, 85%);
    color: hsl(0, 0%, 5%);
}

/*  /Light Theme  */

/*  Dark Theme  */

.t--dark {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0, 95%);
}

.t--dark .t-item {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 95%);
}

/*  /Dark Theme  */

/*  Color Transition     */

.t-button {
    height: 25px;
    width: 100px;
    
    transition-duration: .3s;
    transition-property: all;
}

.t-container {
    height: 100%;
    width: 100%;
    
    transition-duration: .3s;
    transition-property: all;
}

/*  /Color Transition    */

/* Navbar */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #303030;
}

li a {
    float: left;
    display: block;
    color: gainsboro;
    text-align: center;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 125%; 
    font-family: 'Damion', cursive, sans-serif, serif;
}

li button {
    border: 1px solid;
    border-radius: 7%;
}

.ButtonLI {
    margin-right: 5%;
    margin-top: 12px;
    display: float;
    float: right;
}

button {
    font-family: inherit;
    font-size: 1em;
}

/*      Headers        */


.header {
    text-align: center;
}

/* Top Image of "Me" */

.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px black solid;
    border-radius: 7%;
}

.image2 {
    border: 1px black solid;
    border-radius: 7%;
}

.imageColumn {
    float: left;
    width: 100%;
    padding: 5px;
}

.imageRow {
    content: "";
    clear: both;
    display: grid;
}

/* /Images */

/*      Form         */

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: grey;
    color: #303030;
    padding: 12px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    float: right;

}

.contactMe {
    border-radius: 5px;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6x;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/*      /Form         */

/* Footer */

footer {
    position: fixed;
    top: 96%;
    left: 0%;
    width: 100%;
}

footer ul {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: auto;
    list-style: none;
}
/*     /Footer  */

/* Footer Icons */

.fa {
    padding: 10px;
    font-size: 20px;
    width: 70px;
    text-align: center;
    text-decoration: none;
}

.fa-github {
    background: black;
    color: white;
}

.fa-google {
    background: white;
    color: red;
}

.fa-linkedin {
    background: #3B4998;
    color: white;
}

/*          Media Queries                */

@media (min-width:400px) {
    .image1{
        width: 50%;
    }
    
    .image2 {
        margin: 0 20px;
    }
    
    .imageColumn {
        float: left;
        width: 100%;
        padding: 5px;
    }
    
    .imageRow {
        content: "";
        clear: both;
        display: grid;
    }
}

@media (min-width: 600px) {
    
    li a {
        font-size: 150%;
    }
    
    p {
        font-size: 1.25rem;
    }
    
    .image1 {
        width: 40%
    }
    
    .image2 {
        margin: 0 20px;
    }
}

@media (min-width: 1000px) {
    
    li a {
        font-size: 200%;
    }
    
    p {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    
    .image1 {
        width: 35%;
    }
    
    .image2 {
        width: 28%;
        margin: 0 20px;   
    }
}
